@keyframes completed {
    0% {
        right: 0;
        left: -20px;
        width: 0%;
    }
    75% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        right: 0;
        width: 0%;
    }
}

@keyframes not-completed {
    0% {
        left: 100%;
        right: 0;
        width: 0%;
    }
    75% {
        left: 0;
        width: 100%;
    }
    100% {
        right: 0;
        left: -20px;
        width: 0%;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100% - 40px);
    margin: 30px 20px;
}

.category {
    width: 40%;
    min-height: 125px;
    height: fit-content;
    padding: 10px;
    color: var(--text);
    background: var(--label);
    margin: 20px 10px 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    font-weight: 550;
}

.category h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    text-shadow: 0px 0px 3px var(--primary-color);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text);
}

.todo {
    position: relative;
    margin: 10px;
    padding: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 70% 15% 10%;
    align-items: center;
}

.todo * {
    transition: 0.3s;
}

.todo.completed * {
    color: var(--darker-text);
    text-decoration: line-through;
}

.todo-name {
    color: var(--text);
    text-decoration: none;
}

.a-completed {
    left: 0;
    top: 10;
    position: absolute;
    background: linear-gradient(to top right, var(--secondary-color), var(--primary-color));
    height: 5px;
    z-index: 1;
    filter: blur(2px);
    border-radius: 10px;
}

div.a-completed.completed {
    animation-name: completed;
    animation-duration: 1s;
}

div.a-completed.not-completed {
    animation-name: not-completed;
    animation-duration: 1s;
}

label.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

label.check {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}

label.check .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: black;
    transition: all 0.7s;
}

label.check input:checked ~.checkmark:after {
    opacity: 1;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
    transition: all 0.3s;
}

label.check .checkmark:after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0;
    left: 0.45rem;
    top: 0.25rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid #f0f0f0;
    border-width: 0 1px 1px 0;
    transition: all 0.75s;
    transform: rotate(180deg);
}

.important {
    display: flex;
    justify-content: center;
}

label.important-check-container input {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label.important-check-container {
    position: relative;
    display: block;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

label.important-check-container .checkmark {
    position: relative;
    height: 40px;
    width: 40px;
}

label.check-container,
.checkmark svg {
    position: absolute;
    height: 20px;
    width: 20px;
    fill: var(--secondary-color);
}

svg#checked {
    fill: var(--primary-color);
    opacity: 0;
    transform: rotate(0deg);
    transition: 0.3s;
}

label.check-container input:checked~.checkmark {
    opacity: 1;
    transform: rotate(360deg);
}