@keyframes shakeOnMissingInput {
    0% {
        transform: translate(10px, 0px);
    }

    16.6% {
        transform: translate(-10px, 0px);
    }

    33.3% {
        transform: translate(10px, 0px);
    }

    50% {
        transform: translate(-10px, 0px);
    }

    66.6% {
        transform: translate(10px, 0px);
    }

    83.3% {
        transform: translate(-10px, 0px);
    }

    100% {
        transform: translate(10px, 0px);
    }
}

.empty>input, .exists>input {
    animation-name: shakeOnMissingInput;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.empty>#iName,
.empty>#iDate,
.empty>#new-category,
.exists>#new-category,
.empty>.name,
.exists>.name {
    box-shadow: 0px 0px 10px red;
}

#name::after, #date::after {
    display: none;
}

#name::after {
    content: "Name can't be empty";
    left: 30px;
}

#date::after {
    content: "Date can't be empty";
    right: 30px;
}

#date.empty::after, #name.empty::after {
    position: absolute;
    display: block;
    bottom: -5px;
    color: var(--text);
    color: red;
    font-size: 13px;
}

.empty>#new-category::placeholder, .exists>#new-category::placeholder {
    color: red;
}

.category.empty::after, .category.exists::after {
    position: absolute;
    display: block;
    bottom: 2px;
    color: var(--text);
    color: red;
    font-size: 13px;
    text-shadow: none;
}

.category.empty::after {
    content: 'Name can\'t be empty';
}

.category.empty>input,
.category.exists>input {
    margin-bottom: 10px;
}

.category.exists::after {
    content: 'Category already exists'
}