section.settings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 80px);
    margin: 50px 40px;
    padding: 20px;
    background: var(--label);
    border-radius: 10px;
    color: var(--text);
    font-weight: 700;
}

.colors {
    display: grid;
    grid-template-columns: 100px, 100px, 300px, 200px;
    grid-template-rows: auto, auto;
    width: 700px;
}

input.color {
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 0;
    --side: 50px;
    visibility: hidden;
    width: var(--side);
    height: var(--side);
    padding: 0;
    margin: 5px auto;
    cursor: pointer;
}

input.color::-webkit-color-swatch {
    visibility: visible;
    border: none;
    border-radius: calc(var(--side) / 2);
    height: 100%;
}

input.color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#preview {
    border-left: 1px var(--text) solid;
    border-right: 1px var(--text) solid;
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    align-items: center;
}

#pre-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#pre-background {
    margin: 20px;
    height: 10vh;
    background: radial-gradient(var(--new-primary-color), var(--new-secondary-color));
    border-radius: 10px;
    width: 10vw;
    box-shadow: 0 0 5px var(--new-secondary-color);
}

#pre-nav {
    width: max-content;
    height: 55px;
    padding: 10px;
}

#preview a.nav-link {
    text-shadow: 0px 0px 4px var(--new-primary-color);
}

#preview span.active {
    box-shadow: 0px 0px 5px var(--new-primary-color);
}

#preview a.nav-link span.fa-solid {
    text-shadow: 0px 0px 2px var(--new-primary-color);
}

#preview a.nav-link:hover span.active {
    background: var(--new-primary-color);
}

.colors .grid-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.color-input {
    width: 100px;
}

#primary-item {
    grid-area: 1 / 1 / 2 / 2;
}

#secondary-item {
    grid-area: 1 / 2 / 2 / 3;
}

#sync-item {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#sync-item label {
    height: 20px;
}

/* folgender Code ist mithilfe eines Internetforums erstellt worden */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkcontainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50px;
    background: black;
    transition: all 0.7s;
    --spread: 20px;
}

.checkcontainer input:checked~.checkmark {
    background: black;
    box-shadow: -10px -10px var(--spread) 0px var(--new-primary-color), 0 -10px var(--spread) 0px var(--new-secondary-color), 10px -10px var(--spread) 0px var(--new-primary-color), 10px 0 var(--spread) 0px var(--new-secondary-color), 10px 10px var(--spread) 0px var(--new-primary-color), 0 10px var(--spread) 0px var(--new-secondary-color), -10px 10px var(--spread) 0px var(--new-primary-color)
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkcontainer input:checked ~.checkmark:after {
    display: block;
}

.checkcontainer .checkmark:after {
    left: 0.45rem;
    top: 0.25rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid #f0f0f0;
    border-width: 0 0.15rem 0.15rem 0;
    transform: rotate(45deg)
}

/* Bis hierhin ist der Code aus dem Internetforum */

#apply-settings {
    grid-area: 1 / 4 / 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#apply-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: var(--text);
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
}

#apply-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 200px;
    color: var(--label);
}

#left-before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 50px;
    background: var(--primary-color);
    filter: blur(25px);
    transition: 1s;
}

#right-before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 50px;
    background: var(--secondary-color);
    filter: blur(25px);
    transition: 1s;
}

#right-after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    transition: 1s;
    height: 50px;
    filter: blur(10px);
}

#apply-button:hover #right-after {
    width: 100px;
}

#left-after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 50px;
    transition: 1s;
    filter: blur(10px);
}

#apply-button:hover #left-after {
    width: 100px;
}

#apply-button:hover #right-before {
    background: transparent;
}

#apply-button:hover #left-before {
    background: transparent;
}

#apply-button:hover {
    cursor: pointer;
}